{% doc %}
  Loading Overlay

  @description
  Renders a full-page loading overlay to indicate that content is being loaded.

  @example
  {% render 'loading-overlay' %}
{% enddoc %}

<div class="loading-overlay-animation"></div>
