.main-password {
  height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.password-header-wrapper {
  padding-block: 2rem;
  padding-inline: 0;
}

.password-main-wrapper {
  width: 100%;
  padding-block: 10rem;
}
.password-main-wrapper .password-heading {
  font-size: 6rem;
  text-transform: uppercase;
}
.password-main-wrapper .password-buttons {
  margin-block-start: 3rem;
}
.password-main-wrapper .password-socials {
  margin-block-start: 2rem;
}
@media screen and (max-width: 749px) {
  .password-main-wrapper .password-heading {
    font-size: 4rem;
  }
}

.password-popup-modal .modal-inner {
  padding: 3rem;
  width: 35rem;
}
.password-popup-modal .modal-inner .modal-close-button {
  position: absolute;
  inset-block-start: 0.5rem;
  inset-inline-end: 0.5rem;
}
.password-popup-modal .modal-inner .modal-content {
  padding-block-start: 2rem;
}

.password-footer-wrapper {
  padding-block: 1rem;
  padding-inline: 0;
  font-size: 0.875rem;
}
.password-footer-wrapper .password-footer-text {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin-block-end: 0.25rem;
}
.password-footer-wrapper .password-footer-text .icon-shopify {
  width: 5.25rem;
}
