.member-list-block .slider-wrapper {
  gap: 1.5rem;
}
.member-list-block .member-block {
  text-align: center;
  padding: 1rem;
}
.member-list-block .member-block > *:not(:last-child) {
  margin-block-end: 0.25rem;
}
.member-list-block .member-block .member-image {
  display: inline-block;
  width: 12rem;
}
.member-list-block .member-block .member-image .media-content {
  background: rgba(var(--color-foreground), 0.1);
  color: rgb(var(--color-background));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.member-list-block .member-block .member-image .media-content .social-icon {
  width: 1.25rem;
}
@media screen and (min-width: 750px) {
  .member-list-block .member-block .member-image .media-content {
    visibility: hidden;
    opacity: 0;
  }
  .member-list-block .member-block:hover .member-image .media-content {
    visibility: visible;
    opacity: 1;
  }
  .member-list-block .member-block:hover .member-image .media-content .social-icon {
    animation: slideIn 300ms cubic-bezier(0, 0, 0.3, 1);
  }
}
