.collage-with-text__wrapper {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.collage-with-text__wrapper .images-block {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.collage-with-text__wrapper .images-block .image-frame {
  width: calc(50% - 0.5rem);
  box-shadow: 0 0 0.5rem rgba(var(--color-shadow), 0.2);
  transform-origin: center center;
  transition: transform 300ms cubic-bezier(0, 0, 0.3, 1);
  backface-visibility: hidden;
  will-change: transform;
}
.collage-with-text__wrapper .images-block.images--3 .image-frame:last-of-type {
  margin-inline: auto;
  margin-block-start: -5rem;
}
.collage-with-text__wrapper .images-block.images--5 .image-frame:last-of-type {
  position: absolute;
  inset-inline-start: 50%;
  inset-block-start: 50%;
}
.collage-with-text__wrapper .images-block.show-image-frame .image-frame {
  padding: 1rem;
  background: rgb(var(--color-light));
}
.collage-with-text__wrapper .images-block.image-angle--clean .image-frame {
  transform: none;
}
.collage-with-text__wrapper .images-block.image-angle--clean.images--5 .image-frame:last-of-type {
  transform: translate(-50%, -50%);
}
.collage-with-text__wrapper .images-block.image-angle--scattered .image-frame:nth-of-type(1) {
  transform: rotate(-10deg);
}
.collage-with-text__wrapper .images-block.image-angle--scattered .image-frame:nth-of-type(2) {
  transform: rotate(6deg);
}
.collage-with-text__wrapper .images-block.image-angle--scattered .image-frame:nth-of-type(3) {
  transform: rotate(-2deg);
}
.collage-with-text__wrapper .images-block.image-angle--scattered .image-frame:nth-of-type(4) {
  transform: rotate(8deg);
}
.collage-with-text__wrapper .images-block.image-angle--scattered .image-frame:nth-of-type(5) {
  transform: translate(-50%, -50%) rotate(-6deg);
}
.collage-with-text__wrapper .images-block.image-angle--tilt-left .image-frame {
  transform: rotate(3deg);
}
.collage-with-text__wrapper .images-block.image-angle--tilt-left .image-frame:nth-of-type(5) {
  transform: translate(-50%, -50%) rotate(3deg);
}
.collage-with-text__wrapper .images-block.image-angle--tilt-right .image-frame {
  transform: rotate(-3deg);
}
.collage-with-text__wrapper .images-block.image-angle--tilt-right .image-frame:nth-of-type(5) {
  transform: translate(-50%, -50%) rotate(-3deg);
}
@media screen and (max-width: 749px) {
  .collage-with-text__wrapper {
    flex-wrap: wrap;
  }
  .collage-with-text__wrapper .images-block,
  .collage-with-text__wrapper .rich-text-block {
    width: 100%;
  }
  .collage-with-text__wrapper.media-position-mobile--bottom .images-block {
    order: 1;
  }
}
@media screen and (min-width: 750px) {
  .collage-with-text__wrapper {
    justify-content: center;
  }
  .collage-with-text__wrapper .images-block {
    flex: 0 0 auto;
  }
  .collage-with-text__wrapper .rich-text-block {
    flex: 1 1 auto;
  }
  .collage-with-text__wrapper.image-width--small .images-block {
    width: calc(40% - 2rem);
  }
  .collage-with-text__wrapper.image-width--medium .images-block {
    width: calc(50% - 2rem);
  }
  .collage-with-text__wrapper.image-width--large .images-block {
    width: calc(60% - 2rem);
  }
  .collage-with-text__wrapper.image-position--right .images-block {
    order: 1;
  }
}
