.product-anchor-navigation-section {
  position: sticky;
  inset-block-start: 0;
  z-index: 3;
  transition: inset-block-start 300ms cubic-bezier(0, 0, 0.3, 1);
  box-shadow: 0 0.25rem 0.5rem rgba(var(--color-shadow), 0.2);
}

html[data-header-status=visible] .product-anchor-navigation-section {
  inset-block-start: var(--header-height, 5rem);
}

.product-anchor-navigation__wrapper .anchor-list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-size: 1.125rem;
  font-weight: bold;
}
.product-anchor-navigation__wrapper .anchor-list .anchor-item {
  flex-shrink: 0;
  position: relative;
  padding-block: 0.75rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.product-anchor-navigation__wrapper .anchor-list .anchor-item .icon,
.product-anchor-navigation__wrapper .anchor-list .anchor-item .media {
  width: 1.5rem;
  flex: 0 0 auto;
}
.product-anchor-navigation__wrapper .anchor-list .anchor-item:not(:last-child):after {
  content: "";
  position: absolute;
  inset-inline-end: -1.25rem;
  inset-block-start: calc(50% - 0.5rem);
  height: 1rem;
  width: 1px;
  background: rgba(var(--color-foreground), 0.5);
}
.product-anchor-navigation__wrapper .anchor-list .anchor-item:hover {
  opacity: 0.75;
}
.product-anchor-navigation__wrapper .anchor-list:after {
  content: "";
  position: absolute;
  inset-inline-start: var(--item-left);
  inset-inline-end: var(--item-right);
  inset-block-end: 0;
  height: 3px;
  background: rgb(var(--color-foreground));
  transition: inset-inline-start 300ms cubic-bezier(0, 0, 0.3, 1), inset-inline-end 300ms cubic-bezier(0, 0, 0.3, 1);
}
