.promotion-bar__wrapper .text-group-block > *:not(:last-child) {
  margin-block-end: 0.5rem;
}
.promotion-bar__wrapper .countdown-block {
  text-align: center;
}
@media screen and (max-width: 749px) {
  .promotion-bar__wrapper {
    text-align: center;
  }
  .promotion-bar__wrapper > *:not(:last-child) {
    margin-block-end: 2rem;
  }
}
@media screen and (min-width: 750px) {
  .promotion-bar__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
}
