.media-content-list__wrapper .media-content-block .content-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 750px) {
  .media-content-list__wrapper .media-content-block {
    display: flex;
    align-items: stretch;
    width: calc(50% - 1.5rem) !important;
    max-width: 60rem !important;
    min-width: 40rem !important;
  }
  .media-content-list__wrapper .media-content-block .content-media {
    width: 22rem;
    min-height: 30rem;
    flex: 0 0 auto;
  }
  .media-content-list__wrapper .media-content-block .content-content {
    flex: 1 1 auto;
    padding-inline: 3rem;
  }
  .media-content-list__wrapper .media-content-block .content-content.has-wrapper {
    padding-block: 2rem;
  }
}
@media screen and (max-width: 749px) {
  .media-content-list__wrapper .media-content-block .content-media {
    height: 20rem;
  }
  .media-content-list__wrapper .media-content-block .content-content {
    padding-block: 2rem;
  }
  .media-content-list__wrapper .media-content-block .content-content.has-wrapper {
    padding-inline: 2rem;
  }
}
