.section-testimonial__wrapper .testimonial-block {
  padding: 1.25rem;
  background: rgba(var(--color-foreground), 0.02);
  border: 1px solid rgba(var(--color-foreground), 0.1);
}
.section-testimonial__wrapper .testimonial-block .testimonial-image .media-content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0.5rem;
}
.section-testimonial__wrapper .testimonial-block .testimonial-content {
  position: relative;
}
.section-testimonial__wrapper .testimonial-block .testimonial-content:before {
  content: '"';
  font-size: 2.4rem;
  line-height: 1;
  opacity: 0.3;
}
.section-testimonial__wrapper .testimonial-block .testimonial-author {
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  margin-block-start: 0.5rem;
  font-weight: 500;
}
.section-testimonial__wrapper .testimonial-block .testimonial-author .author-avatar {
  flex: 0 0 auto;
  width: 2rem;
}
.section-testimonial__wrapper .testimonial-block .testimonial-author .icon-verified {
  flex: 0 0 auto;
  width: 1rem;
}
.section-testimonial__wrapper .testimonial-block.show-wrapper {
  padding: 1rem;
}
@media screen and (max-width: 749px) {
  .section-testimonial__wrapper .testimonial-block.show-wrapper {
    padding: 0.5rem;
  }
}
