.store-list__wrapper .store-info {
  padding: 1.5rem;
}
.store-list__wrapper .store-info .store-location {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.store-list__wrapper .store-info .store-location .navigate-button {
  flex: 0 0 auto;
  margin-inline-start: auto;
}
.store-list__wrapper .store-info .store-phone,
.store-list__wrapper .store-info .store-hours {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.store-list__wrapper .store-info .store-phone .icon,
.store-list__wrapper .store-info .store-hours .icon {
  flex: 0 0 auto;
  width: 1.25rem;
}
.store-list__wrapper .store-info[aria-hidden=true] {
  display: none;
}
.store-list__wrapper .slider-page-dots {
  position: absolute;
  inset-inline-start: 0;
  width: 100%;
  --color-dots: var(--color-light) !important;
}
@media screen and (max-width: 749px) {
  .store-list__wrapper .store-map {
    height: 25rem;
  }
  .store-list__wrapper .store-info {
    margin-block-start: 1rem;
    border: 1px solid rgba(var(--color-foreground), 0.1);
  }
  .store-list__wrapper .slider-page-dots {
    inset-block-start: 25rem;
    transform: translateY(-100%);
  }
}
@media screen and (min-width: 750px) {
  .store-list__wrapper .store-map {
    height: 45rem;
  }
  .store-list__wrapper .store-info {
    position: absolute;
    inset-block-start: 1rem;
    inset-inline-end: 1rem;
    max-width: 25rem;
    box-shadow: 0 0 0.5rem rgba(var(--color-shadow), 0.2);
    visibility: hidden;
  }
  .store-list__wrapper .slider-container .slider-slide {
    width: 80% !important;
  }
  .store-list__wrapper .slider-container .slider-slide.active .store-info {
    visibility: visible;
    animation: slideIn 500ms cubic-bezier(0, 0, 0.3, 1) forwards;
  }
  .store-list__wrapper .slider-page-dots {
    inset-block-end: 0;
  }
}
