.flexible-images__wrapper {
  display: flex;
  align-items: stretch;
}
.flexible-images__wrapper .flexible-image-block {
  position: relative;
  flex: 1 0 auto;
}
.flexible-images__wrapper .flexible-image-block .flexible-image {
  height: 100%;
}
.flexible-images__wrapper .flexible-image-block .flexible-content {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
  width: 100%;
  height: 100%;
  padding: 2rem;
  visibility: hidden;
  opacity: 0;
}
.flexible-images__wrapper .flexible-image-block.active .flexible-content {
  visibility: visible;
  animation: fadeIn 500ms 100ms cubic-bezier(0, 0, 0.3, 1) forwards;
}
@media (prefers-reduced-motion: reduce) {
  .flexible-images__wrapper .flexible-image-block.active .flexible-content {
    opacity: 1;
  }
}
@media screen and (max-width: 749px) {
  .flexible-images__wrapper {
    flex-direction: column;
    height: 50rem;
  }
  .flexible-images__wrapper .flexible-image-block {
    height: 1rem;
    transition: height 300ms cubic-bezier(0, 0, 0.3, 1);
  }
  .flexible-images__wrapper .flexible-image-block.active {
    height: 30rem;
  }
}
@media screen and (min-width: 750px) {
  .flexible-images__wrapper .flexible-image-block {
    width: 1rem;
    height: 45rem;
    transition: width 300ms cubic-bezier(0, 0, 0.3, 1);
  }
  .flexible-images__wrapper .flexible-image-block.active {
    width: 40%;
  }
}
