.gallery-with-text__wrapper {
  display: flex;
}
.gallery-with-text__wrapper .image-gallery-block {
  display: flex;
  gap: 1rem;
  overflow: hidden;
  --staggered-offset: 5rem;
}
.gallery-with-text__wrapper .image-gallery-block scroll-seamless {
  width: 50%;
  flex: 1 1 auto;
}
.gallery-with-text__wrapper .image-gallery-block .image-list {
  gap: 1.5rem;
}
.gallery-with-text__wrapper .image-gallery-block.has-staggered-effect scroll-seamless:first-of-type {
  transform: translateY(calc(-1 * var(--staggered-offset)));
}
.gallery-with-text__wrapper .image-gallery-block.has-staggered-effect scroll-seamless:last-of-type {
  transform: translateY(var(--staggered-offset));
}
.gallery-with-text__wrapper .rich-text-block {
  padding-block: 2rem;
}
@media screen and (max-width: 749px) {
  .gallery-with-text__wrapper {
    flex-direction: column;
  }
  .gallery-with-text__wrapper .image-gallery-block {
    width: 100%;
    height: 30rem;
    --staggered-offset: 2rem;
  }
  .gallery-with-text__wrapper .rich-text-block {
    width: 100%;
    background: rgba(var(--color-background), 0.5);
    backdrop-filter: blur(0.5rem);
  }
  .gallery-with-text__wrapper.media-position-mobile--top .rich-text-block {
    margin-block-start: -5rem;
  }
  .gallery-with-text__wrapper.media-position-mobile--bottom .image-gallery-block {
    order: 1;
  }
  .gallery-with-text__wrapper.media-position-mobile--bottom .rich-text-block {
    margin-block-end: -5rem;
    z-index: 1;
  }
}
@media screen and (min-width: 750px) {
  .gallery-with-text__wrapper {
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }
  .gallery-with-text__wrapper .image-gallery-block {
    width: 50%;
    flex: 0 0 auto;
    height: 60rem;
  }
  .gallery-with-text__wrapper .rich-text-block {
    flex: 1 1 auto;
  }
  .gallery-with-text__wrapper.image-position--right .image-gallery-block {
    order: 1;
  }
}
