.contact-form-wrapper .contact-form-main .contact-info-block {
  padding: 2rem;
  position: relative;
  border-radius: 0;
}
.contact-form-wrapper .contact-form-main .contact-info-block:after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  inset-inline-start: 0;
  box-shadow: inset 0 0 0 1px rgba(var(--color-foreground), 0.1);
  border-radius: 0;
  pointer-events: none;
}
.contact-form-wrapper .contact-form-main .contact-info-block .shopify-block:not(:last-child) {
  margin-block-end: 1rem;
}
.contact-form-wrapper .contact-form-main .contact-info-block .icon-text-content-block {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
}
.contact-form-wrapper .contact-form-main .contact-info-block .icon-text-content-block .icon {
  flex: 0 0 auto;
  width: 1.5rem;
}
.contact-form-wrapper .contact-form-main .contact-info-block .icon-text-content-block img {
  width: 1.5rem;
}
.contact-form-wrapper .contact-form-map {
  display: block;
}
@media screen and (max-width: 749px) {
  .contact-form-wrapper .contact-form-main .contact-info-block {
    margin-block-start: 1rem;
  }
  .contact-form-wrapper .contact-form-map {
    height: 400px;
    margin-block-start: 1rem;
  }
}
@media screen and (min-width: 750px) {
  .contact-form-wrapper .contact-form-main {
    display: flex;
    align-items: center;
    gap: 3rem;
    max-width: 65rem;
  }
  .contact-form-wrapper .contact-form-main .contact-form-block {
    flex: 1 1 auto;
  }
  .contact-form-wrapper .contact-form-main .contact-info-block {
    flex: 0 0 auto;
    width: 22rem;
  }
  .contact-form-wrapper.has-map {
    display: flex;
    align-items: center;
  }
  .contact-form-wrapper.has-map .contact-form-main {
    width: 50%;
    z-index: 1;
  }
  .contact-form-wrapper.has-map .contact-form-main .contact-info-block {
    margin-inline-end: -6rem;
    box-shadow: 0 0 0.5rem rgba(var(--color-shadow), 0.2);
  }
  .contact-form-wrapper.has-map .contact-form-map {
    flex: 1 1 auto;
    height: 600px;
  }
  .contact-form-wrapper:not(.has-map) .contact-form-main {
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
}
